<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hostel Management System - Home</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <h1>Welcome to Hostel Management System</h1>
    <p>Please choose your section:</p>

    <div style="display: flex; justify-content: center; gap: 50px; margin-top: 30px;">

        <!-- Admin Section -->
        <div>
            <a href="{{ url_for('admin_login') }}">
                <img src="../static/photo/admin.webp" alt="Admin Image" style="height: 60px; width: 60px;">
                <p style="text-align: center;">Admin Section</p>
            </a>
        </div>

        <!-- User Section -->
        <div>
            <a href="{{ url_for('select_role') }}">
                <img src="../static/photo/user.png" alt="User Image" style="height: 60px; width: 60px;">
                <p style="text-align: center;">User Section</p>
            </a>
        </div>

    </div>

</body>
</html>
